@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
.logo{
    
    display: inline-block;
    height: 145px;
}
.img{
    display: inline;
    margin-left: 493px;
}
.img img{
    display: inline;
    height: 91px;
    margin-bottom: 31px;
}
.container{
    max-width: 755px;
    /* background-color: aquamarine; */
    margin: auto;
    border: 2px solid black;
    border-radius: 13px;
    height: 57vh;
    padding: 2px;
    overflow-y: auto;
    margin-bottom: 12px;
}
.message{
    background-color: #b6b8cc;
    color: #ff0000;
    font-size: 19px;
    font-family: 'Kalam', cursive;
    width: 24%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 13px 2px
}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}
.center{
    display: block;
    margin: 0px 279px;
    float: left;
    border: 0px;
    font-size: 17px;
    font-family: serif;
    color: black;
    background: none;
}
body{
    height: 100vh;
    background-image: linear-gradient(yellow,green);
}
#send-container{
    text-align: center;
    max-width: 1331px;
    display: block;
    margin: auto;
    width: 100
}
#messageInp{
    width: 52%;
    border: 2px solid black;
    border-radius: 12px;
    height: 26px;
}
.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 30px;
    font-size: 17px;
    /* font-family: 'Kalam', cursive; */
    background-color: #b6b8cc;
}
nav h1{
    text-align: center;
    font-size: 39px;
    margin-top: 0px;
    color: #ff3b00;
}